<!DOCTYPE HTML>
<html>
<head>
    <title>Help Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<!-- <p th:text="'Hello, ' + ${name} + '!'" /> -->
<div id="content"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    document.getElementById('content').innerHTML =
        marked('### Api Calls: \n' +
            '\n\n======================================================================\n\n' +
            //'#####    /api/all            -   [Displays all users]\n' +
            '#####    /api/count          -   [Displays user count]\n' +
            '\n\n======================================================================\n\n' +
            //'#####    /api/{id}           -   [Displays user by db_id]\n' +
            '#####    /api/uuid/{uuid}         -   [Displays user by uuid]\n' +
            '#####    /api/name/{name}         -   [Displays user by name]\n' +
            '\n\n======================================================================\n\n' +
            //"#####    /api/{id}/names     -   [Displays user's previous by db_id]\n" +
            "#####    /api/name/{name}/names   -   [Displays user's previous by name]\n" +
            "#####    /api/uuid/{uuid}/names   -   [Displays user's previous by uuid]\n" +
            '\n\n======================================================================\n\n');
</script>
</body>
</html>