<!DOCTYPE HTML>
<html>
<head>
    <title>Help Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<!-- <p th:text="'Hello, ' + ${name} + '!'" /> -->
<div id="content"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    document.getElementById('content').innerHTML =
        marked('### Api Endpoints: \n' +
            '\n' +
            '====================================================================== \n' +
            '#####    /api/all            -   [Displays all users]\n' +
            '#####    /api/names/all      -   [Displays all Previous Names]\n' +
            '#####    /api/count          -   [Displays user count]\n' +
            '#####    /api/names/count    -   [Displays names count]\n' +
            '\n' +
            '#####    /api/update/{uuid}/ -   [Updates user by uuid {Please limit yourself to doing this in the last case Senario as to not hemmer age the main api}]\n' +
            '\n' +
            '======================================================================\n' +
            '#####    /api/uuid/{uuid}         -   [Displays user by uuid]\n' +
            '#####    /api/name/{name}         -   [Displays user by name]\n' +
            '\n' +
            '======================================================================\n' +
            '#####    /api/name/{name}/names   -   [Displays user\'s previous by name]\n' +
            '#####    /api/uuid/{uuid}/names   -   [Displays user\'s previous by uuid]\n' +
            '\n' +
            '======================================================================');
</script>
</body>
</html>